.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.training-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}


.details-container{
  position: sticky;
  top: 0;
}