.header{
    background-color:  #8dc6ff;
    height: 80px;
    width: 1366px;
    display: flex;
    align-items: center;
    
}

.header-txt{
    margin-left: 600px;
    font-family: "Times New Roman", Times, serif;
}